:host {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
section {
width: 100%;
background-color: #32435b;
}
section > header {
color: #ffffff;
padding: 10px;
}
section > header > h1 {
font-size: 2em;
}
section > header .description {
font-style: italic;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #87CEEb;
  }
  
nav a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }